/InventoryManagementSystemApp/obj
/InventoryManagementSystemApp/bin
/InventoryManagementSystemDomain/obj
/InventoryManagementSystemDomain/bin
/InventoryManagementSystemInfrastructure/obj
/InventoryManagementSystemInfrastructure/bin
/.vs
InventoryManagementSystemApp/appsettings.json
