@model InventoryManagementSystemDomain.Entity.AppUser
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body id="create-body">
    <div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Add Student</h1>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Create">
                        <h4 class="text-center text-danger">@TempData["error"]</h4>
                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <input type="text" asp-for="FirstName" class="form-control" placeholder="Enter First name"/><br>
                        </div>
                        <div class="form-group">
                            <label asp-for="MiddleName"></label>
                            <input type="text" asp-for="MiddleName" class="form-control" placeholder="Enter Middle name"/>
                        </div><br>
                        <div class="form-group">
                            <label asp-for="LastName"></label>
                            <input type="text" asp-for="LastName" class="form-control" placeholder="Enter Last name"/>
                        </div><br>
                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input type="text" asp-for="UserName" class="form-control" placeholder="Enter Username"/>
                        </div><br>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="text" asp-for="Password" class="form-control" placeholder="Enter Password"/>
                        </div>
                         <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="text" asp-for="Email" class="form-control" placeholder="Enter Email"/>
                        </div>
                         <div class="form-group">
                            <label asp-for="DateOfBirth"></label>
                            <input type="date" asp-for="DateOfBirth" class="form-control" placeholder="Enter Date of birth"/>
                        </div>
                         <div class="form-group">
                            <label asp-for="Gender"></label>
                            <select class="form-control" asp-for="Gender" asp-items="@Html.GetEnumSelectList<InventoryManagementSystemDomain.Entity.Gender>()">
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn btn-sm btn-success float-lg-end mt-2" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
